{% assign publications = site.data.data.publications %}
{% assign presentations = site.data.data.presentations %}
{% assign projects = site.data.data.projects %}

<div class="contact-container container-block">

    <h2 class="container-block-title">
      Research
    </h2>

    <ul class="list-unstyled contact-list">
        {% if projects %}
            {% assign projCount = 0 %}
            {% for project in projects.assignments %}
                {% assign projCount = projCount | plus: 1 %}
            {% endfor %}
            <li><i class="fas fa-archive"></i> {{projCount}} collaborative projects</li>
        {% endif %}

        {% if publications %}
            {% assign pubCount = 0 %}
            {% for publication in publications.papers %}
                {% assign pubCount = pubCount | plus: 1 %}
            {% endfor %}
            <li><i class="fas fa-file-alt"></i> {{pubCount}} publications</li>
        {% endif %}

        {% if presentations %}
            {% assign talkCount = 0 %}
            {% for talk in presentations.talks %}
                {% assign talkCount = talkCount | plus: 1 %}
            {% endfor %}
            <li><i class="fas fa-podium"></i> {{talkCount}} presentations</li>
        {% endif %}
        
    </ul>
</div>